<ul>
    <% for(let i=0;i<devices.length;i++){ %>
        <li>
            <p>Device: <%=devices[i].name %></p>
            <p>Brand: <%=devices[i].brandname %></p>
            <p>Category: <%=devices[i].category %></p>
        </li>
        <% } %>
</ul>