<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brands</title>
  </head>
  <body>
    <%-include('partials/header') %>
    <h1>Brands</h1>
    <% if(locals.brands){%>
      <% for(i=0;i<brands.length;i++){ %>
        <p><%=brands[i].brandname %></p>
        <% } %>
      <% } %>
      <% if(locals.errors){ %>
      <%-include('partials/errors',{errors}) %>
      <% } %>
      <form action="/brand" method="post">
          <label for="brand">Brand Name: </label>
          <input type="text" id="brand" name="brandname" required minlength="3" maxlength='15'>
        <button type="submit">Add</button>
      </form>
  </body>
</html>
