body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}
header {
  font-size: 1.3em;
  border-bottom: solid 0.5px var(--header-border-color);
  padding: 0.2em 0.5em;
  position: sticky;
}
nav {
  max-width: var(--container-max-width);
  padding: 0.2em;
  margin: auto;
  display: flex;
}
nav > a:first-child {
  margin-right: auto;
  background-color: var(--light-green-accent-font-color);
  color: var(--main-font-color);
}
.page-container {
  max-width: var(--container-max-width);
  margin: auto;
}
a {
  padding: 0.1em 0.5em;
  color: var(--nav-gray);
  border-radius: 10px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  background-color: var(--link-on-hover-color);
  color: var(--main-font-color);
}
.page-container {
  padding: 0.2em 0.5em;
}
h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
li > a {
  color: var(--main-font-color);
}
