table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}
th,
td {
  border: var(--inner-table-border);
  padding: 8px 10px;
}
thead tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
thead tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
tbody tr:last-child th:first-child {
  border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

thead {
  color: aliceblue;
  font-weight: 800;
  font-size: 1.5em;
  background-color: black;
}
tbody {
  color: rgb(201, 199, 199);
  background-color: rgb(26, 26, 26);
}
caption {
  caption-side: bottom;
}
thead th:nth-child(1) {
  width: 40%;
}
tbody tr td:last-child {
  display: flex;
}
form > button {
  border-radius: 5px;
  padding: 0.2em 0.5em;
  cursor: pointer;
}
.deleteForm > button {
  background-color: rgb(26, 26, 26);
  color: red;
  border: 1px solid red;
  transition-property: border, color, background-color, box-shadow, transform;
  transition-duration: 0.3s;
}
tbody tr td:last-child {
  display: flex;
  gap: 2em;
  justify-content: center;
}
.deleteForm > button:hover {
  color: black;
  background-color: red;
  border: 1px solid black;
  box-shadow: 5px 5px 3px black;
  transform: translateY(-0.3em);
}
.updateForm > button,
.deleteForm > button {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
button > span {
  display: inline-block;
}
.updateForm > button {
  color: rgb(85, 240, 235);
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(85, 240, 235);
  transition-property: color, background-color, border, transform;
  transition-duration: 0.3s;
}
.updateForm > button:hover {
  color: black;
  background-color: rgb(85, 240, 235);
  border: 1px solid black;
  transform: translateY(-0.3em);
}
